
 .forgot {
     background-color: #fff;
     padding: 12px;
     border: 1px solid #dfdfdf;

 }

 .padding-bottom-3x {
     padding-bottom: 72px !important
 }

 .card-footer {
     background-color: #fff
 }

 .btn {
     font-size: 13px
 }
 
body {
  background: #F1F3FA;
  background-color: #F7941D;

}
.container{
  background-color:white;

}
.card{
  padding-top: 6% !important;
  box-shadow: 20 ;
}
.card1{
   background-color:white;
   padding: 0%;
   margin-top: 15%;

}
.form-control-range{
     color: orange;
     background-color: orange;
}
#range{
     color: orange;
}
#head{
     color: red;
     padding: 2%;

}
.sub{
     color: black;
}
#name{
     margin-left: 3%;
}
.container1{
     margin-left: 2%;
}
.container2{
     padding: 2%;
     
}

#box{
    
}